
<div class="grid-container">
    <div class="grid-x grid-padding-x">
      <div class="medium-12 cell">
        <label for="description"> <f:translate key="tx_couch_domain_model_couch.description" /> – <f:translate key="couch.infotext"/>
            <f:form.textarea property="description" cols="220" rows="3" />
        </label>
      </div>
    </div>
</div>

<div class="grid-container">
    <div class="grid-x grid-padding-x">
      <div class="medium-6 cell">
        <label for="begin"><f:translate key="tx_couch_domain_model_couch.begin" />
            <f:if condition="{couch.begin}">
            <f:then>
                <f:form.textfield property="begin" value="2022/08/18" id="datetimepicker-begin" type="text"  />
            </f:then>
            <f:else>
                <f:form.textfield property="begin" value="2022/08/18" id="datetimepicker-begin" type="text" />
            </f:else>
        </f:if>
        </label>
      </div>
      <div class="medium-6 cell">
        <label for="date end"><f:translate key="tx_couch_domain_model_couch.end" />
            <f:if condition="{couch.end}">
                <f:then>
                    <f:form.textfield property="end" value="2022/08/21" id="datetimepicker-end" type="text"  />
                </f:then>
                <f:else>
                    <f:form.textfield property="end" value="2022/08/21" id="datetimepicker-end" type="text" />
                </f:else>
            </f:if>
        </label>
      </div>
    </div>
</div>

<f:form.hidden property="provider" value="{provider.uid}" />

<div class="grid-container">
    <div class="grid-x grid-padding-x">
      <div class="medium-4 cell">
        <label for="space"><f:translate key="tx_couch_domain_model_couch.space" />
            <f:form.textfield property="space"  value="1" />
        </label>
      </div>
      
    </div>
</div>

<div class="grid-container">
    <div class="grid-x grid-padding-x">
      <div class="medium-12 cell">
        <label for="name"><f:translate key="tx_couch_domain_model_address.name" /> 
            <f:form.textfield property="address.name"  required="1"/>
            <f:render partial="FieldError" arguments="{object: Address property: 'address.name'}" />
        </label>
      </div>
    </div>
</div>

<div class="grid-container">
    <div class="grid-x grid-padding-x">
      <div class="medium-10 cell">
        <label for="street"><f:translate key="tx_couch_domain_model_address.street" />
            <f:form.textfield property="address.street" />
        </label>
      </div>
      <div class="medium-2 cell">
        <label for="street_number"><f:translate key="tx_couch_domain_model_address.street_number" />
            <f:form.textfield property="address.streetNumber" />
        </label>
      </div>
    </div>
</div>

<div class="grid-container">
    <div class="grid-x grid-padding-x">
      <div class="medium-4 cell">
        <label for="ZIP"><f:translate key="tx_couch_domain_model_address.zip" />
            <f:form.textfield property="address.zip" />
        </label>
      </div>
      <div class="medium-8 cell">
        <label for="city"><f:translate key="tx_couch_domain_model_address.city"/>
            <f:form.textfield property="address.city" />
        </label>
      </div>
    </div>
</div>

<div class="grid-container">
    <div class="grid-x grid-padding-x">
      <div class="medium-6 cell">
        <label for="country"><f:translate key="tx_couch_domain_model_address.country" />
            <f:form.textfield property="address.country" />
        </label>
      </div>
      <div class="medium-6 cell">
        <label for="state"><f:translate key="tx_couch_domain_model_address.state" />
            <f:form.textfield property="address.state" />
        </label>
      </div>
    </div>
</div>

<div class="grid-container">
    <div class="grid-x grid-padding-x">
      <div class="medium-6 cell">
        <label for="lat"><f:translate key="tx_couch_domain_model_address.latitude" />
            <f:form.textfield property="address.latitude" />
        </label>
      </div>
      <div class="medium-6 cell">
        <label for="lon"><f:translate key="tx_couch_domain_model_address.longitude" />
            <f:form.textfield property="address.longitude" />
        </label>
      </div>
    </div>
</div>

	
