
<table class="stack" >
	<tr>
		<td>
			<f:translate key="tx_couch_domain_model_couch.description" />
		</td>
		<td>
		{couch.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_couch_domain_model_couch.begin" />
		</td>
		<td>
		{couch.begin -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_couch_domain_model_couch.end" />
		</td>
		<td>
		{couch.end -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_couch_domain_model_couch.space" />
		</td>
		<td>
		{couch.space}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_couch_domain_model_couch.city" />
		</td>
		<td>
		{couch.address.zip} {couch.address.city}
		</td>
	</tr>
</table>
