{namespace u=Eike\Couch\ViewHelpers}
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">

<f:flashMessages />
	<f:render partial="Map/Show" arguments="{couchs:couchs, contentUid:contentUid}"/>
<f:if condition="{couchs}">
<p>
	<table class="table table-striped">
	    <thead>
                <tr>
                  <th><f:translate key="tx_couch_domain_model.title" /></th>
                  <th><f:translate key="tx_couch_domain_model.description" /></th>
                  <th><f:translate key="tx_couch_domain_model_address.city" /></th>
                  <th><f:translate key="tx_couch_domain_model_couch.start" /></th>
                  <th><f:translate key="tx_couch_domain_model.until" /></th>
                  <th>#</th>
                </tr>
            </thead>
            <tbody>
	<f:for each="{couchs}" as="couch">


            <tr>
            <td>
			     {couch.address.name}
			 </td>
			 <td>
			     {couch.description}
			 </td>
			 <td>
			     {couch.address.city}
			 </td>
			 <td>
			     {couch.begin-> f:format.date(format:'d.m.Y H:i')} Uhr
			 </td>
			  <td>
			     {couch.end -> f:format.date(format:'d.m.Y H:i')} Uhr
			 </td>
			 <td>
			     <f:link.action action="show" arguments="{couch : couch}"><span class="btn btn-small"><f:translate key="tx_couch_domain_model.showentry" />
				</span> </f:link.action>
			 </td>
			 <td>
				 <f:if condition="{feUser}">
			 			<f:render partial="ButtonsEditDelete" arguments="{couch : couch, feUser:feUser}" />
				 </f:if>
			 </td>
			 </tr>
			 </tbody>

		</li>
	</f:for>
	</table>
</p>
</f:if>
<f:if condition="{feUser}">
	<f:then>
		<f:link.action action="new"><span class="btn"><f:translate key="tx_couch_domain_model.createnew" /></span></f:link.action>
	</f:then>
	<f:else>
		<f:if condition="{settings.registrationPid}">
			<f:link.page pageUid="{settings.registrationPid}"><span class="btn"><f:translate key="tx_couch_domain_model.havetoregister" /></span></f:link.page>
		</f:if>
	</f:else>
</f:if>
</f:section>

