
<f:layout name="Default" />

This template displays a NEW form for the current domain object.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        New.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1><f:translate key="tx_couch_domain_model.createnew"/></f:translate></h1>

<f:flashMessages />

<f:render partial="FormErrors" arguments="{object:Couch}" />

<f:form action="create"  name="newCouch" object="{newCouch}">
<f:render partial="Couch/FormFields" arguments="{provider:provider, now:now, categories:categories}" />
	<p><f:form.submit value="<f:translate key="tx_couch_domain_model.createnew"/>" class="btn btn-success"/></p>
</f:form>
</f:section>